ul{
  padding: 0;
  list-style: none;
}

li {
  margin: 5% auto;
  text-align: center;
  font-size: large;

}

li a, li span{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 2% 5%;

  background-color: gainsboro;
  border: 2px solid black;
  border-radius: 4%;
  width: 50%;
}

li a:hover{
  background-color: aliceblue;
}

.disabled{
  cursor: not-allowed;
}
.disabled:hover{
  background-color: darkgrey;
}
